{% extends 'base.html' %} 


{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
 Hi {{user.username}}
 <p><a href={% url 'logout' %}>Log out</a></p>
{% else %} 
<p> You are not logged in </p>
<a href={% url 'login' %}>Log In</a>
<a href={% url 'signup' %}>Sign Up</a>    
{% endif %} 
<div class="jumbotron">
    <h1 class="display-4">Newspaper app</h1>
    <p class="lead">A Newspaper website built with Django.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" 
        role="button">View All Articles</a>
    </p>
{% endblock content %}